/* RESET */
* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: normal; 
    box-sizing: border-box;
    border: none;
    outline: none;
}
img {
    max-width: 100%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
h2 {
    font-size: 1.5em; 
    color: #333;
}
p {
    font-size: 1em;
    color: #777;}

/* Header */
.cabecalho {
    width: 100%;
    height: 150px;
    background-color: #0288D1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cabecalho div{
    color: #fff;
    font-size: 56pt;
    font-weight: bold;
    font-family: 'Acme', sans-serif;
    text-shadow: 3px 3px #333;
}

/* Body */
.resultado {
    text-align: center;
    margin: 20px auto;
}

.jogo {
    width: 600px;
    height: 600px;
    margin: 20px auto;
}
.botoes {
    display: flex;
    justify-content: center;
    text-align: center;
}
.botoes button {
    font-weight: bold;
    margin: 10px;
    box-shadow: 3px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 5px;
    /* background-color: #29B6F6; */
    color: #fff;
    background-image: linear-gradient(130deg, #81D4FA, #0288D1);
} 
.rodape {
    width: 100%;
    height: 50px;
    background-color: #0288D1;
    color: #fff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}